{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Empresa</th>
                    <th>Produto</th>
                    <th>Nos de mais detalhes:</th>
                </tr>
            </thead>
            <tbody>
                {% for jogo in jogos %}
                <tr>
                    <td>{{ jogo.empresa }}</td>
                    <td>{{ jogo.produto }}</td>
                    <td>{{ jogo.feedback }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
{% endblock %}